@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sora:wght@100..800&display=swap");

:root {
  --card-bg-clr: rgb(26, 26, 26);
  --border-color: rgb(129, 129, 129);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 0.85rem;
  color: rgb(38, 38, 38);
}

/* CONTAINERS */
.card-container {
  max-width: 850px;
  padding: 3rem 1rem;
  margin: 0 auto;
}

.time-container {
  padding: 0.5rem;

  text-align: center;
  font-size: 0.65rem;

  background-color: saddlebrown;
  border-radius: 1rem;
  color: white;

  cursor: pointer;

  transition: background-color, 250ms;
}
.time-container:hover {
  background-color: rgb(129, 64, 17);
}

.image-container {
  width: 200px;
  object-position: center;
  aspect-ratio: 1;
  margin: 0 auto;
  border-radius: 50%;
  background-color: rosybrown;
  object-fit: cover;
  overflow: hidden;
  display: grid;
  place-items: center;
  place-content: center;
}

section {
  padding-block: 1.5rem;
  border-block-end: 1px solid var(--border-color);
}

section:last-child {
  border-block-end: none;
}

.mid-sections > *:last-child {
  border-block-end: 1px solid var(--border-color);
}

/* AVATAR */
.image-container img {
  width: 100%;
  scale: 1.06;

  transition: scale 250ms;
}

.image-container img:hover {
  scale: 1.075;
}

/* HEADERS */
h2,
h3 {
  font-family: "Sora", sans-serif;
  text-align: center;
  margin-block-end: 0.2rem;
}

h3 {
  margin-block-end: 0.5rem;
  color: var(--card-bg-clr);
}

/* NAME & BIO */
.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-block: 1.5rem;
}

.role-gmail {
  color: rgb(136, 136, 136);
  font-size: 0.75rem;
}
.role,
.mail {
  color: saddlebrown;
  font-weight: 500;
  opacity: 0.9;
}

/* LISTS */
ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 175px);
  place-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 1rem;
  flex-wrap: wrap;

  cursor: pointer;
}

ul > * {
  font-size: 0.9rem;
  padding: 1rem 0.5rem;
  display: grid;
  place-content: center;

  background-color: #ededea;
  color: black;

  border-radius: 0.5rem;
  transition: scale 250ms;
}

ul > *:hover {
  scale: 1.01;
}

/* SOCIALS */
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  justify-self: center;
  width: 90%;
}

.social-links > * {
  background-color: transparent;

  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;

  transition: box-shadow, 250ms;
}

.social-links > *:hover {
  box-shadow: 4px 3px 0 0 black;
}

.social-links a {
  width: 100%;

  text-decoration: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  color: black;

  gap: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
}

.social-links img {
  width: 24px;
}

@media screen and (min-width: 800px) {
  /* CONTAINERS */
  body {
    font-size: 1.05rem;
    padding: 3rem;
  }

  .time-container {
    font-size: 0.77rem;
  }

  .card-container {
    padding: 2.5rem 2rem;
    border: 1px solid var(--border-color);
    border-radius: 2rem;
  }

  .mid-sections {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-block: 1.5rem;
    margin-block: 1.5rem;
    border-block: 1px solid var(--border-color);
  }

  section {
    padding: 0rem;
  }

  .mid-sections > * {
    flex: 1;
    background-color: #ededea;
    border-radius: 1rem;
    padding: 1.5rem 1.5rem;
    border: none;
  }

  .mid-sections > *:last-child {
    border: none;
  }

  .mid-sections ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-start;
  }

  .image-name-wrapper {
    display: flex;
    gap: 1rem;
    padding-block-end: 1.5rem;
  }

  .image-container {
    border-radius: 1rem;

    width: 300px;
    flex: 1;
  }

  .about {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 0.5rem;
    padding-block: 0.5rem 0;
    flex: 2.2;
  }

  .social-links {
    width: 100%;
  }

  /* TEXTS & LI */
  h3 {
    font-weight: 600;
    font-size: 0.9rem;
    text-align: left;
  }

  .role-gmail {
    font-size: 0.85rem;
  }

  .mid-sections li {
    font-size: 0.85rem;
    padding: 0.5rem;
    background-color: transparent;
    color: black;
    border: 1.5px solid var(--border-color);
  }
}
